* {
    margin: 0;
    padding: 0;
}

.invoice-container{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(painted-solid-concrete-wall-textured-background.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    
}
.invoice-box{
    height: 570px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.116);

}
.invoice-box>h3{
    margin-top: 3px;
    background-color: #0ae4e4;
    font-weight: 400;
    letter-spacing: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    justify-content: center;
    display: flex;
    border: 1px solid black;
}
.inner-box h2{
    color: #fff;
    font-size: 25px;
    padding: 20px 0px 7px 20px;
    font-weight: 400;
}
.input-data{
    border: 1px solid #0ae4e4;
    border-radius: 50px;
    background-color: black;
    width: 310px;
    height: 35px;
   margin: 7px 0px 0px 20px ;
   padding-left: 15px;
}
.button{
    height: 40px;
    width: 80px;
    border: 2px inset #000000;
    background-color: #0ae4e4;
    border-radius: 50px;
    margin: 10px 0px 10px 20px;
}
.inner-box{
    border: 1px solid #0ae4e4;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
    height: 480px;
}
.inerbox-header{

    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: rgb(255, 255, 255);
    border: 1px solid #0ae4e4;
    height: 20px;
    border-radius: 20px;
    font-size: 15px;
    padding: 8px 10px 5px 10px;
}


.right-path ul li {
    display: inline;
    padding: 5px;
}
.footer{
    justify-content: center;
    display: flex;
    border: 1px solid #0ae4e4;
    background: #0000005e;
    height: 30px;
    padding-top: 10px;
    border-radius: 20px;
    margin:5px 10px 0px 10px;
    color: #0ae4e4;
}
.invoice-data{
    margin-top: 10px ;
    height: 370px;
    overflow-y: scroll;
}
.invoice-data h1{
    color: rgb(240, 128, 0);
    justify-content: center;
    display: flex;

}
.invoice-data>p{
    color:#fff;
    justify-content: center;
    display: flex;

}
.invoice-data>h5{
    color:#fff;
    padding-top: 10px;
    padding-left: 5px;
}
.information1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #fff;
}
.information1 h3{
    font-size: 15px;
   padding: 5px 5px;
}
.print-section{
    margin-top: 15px;
    border: 1px solid #0ae4e4;
    border-radius: 20px;
    padding: 5px 5px;
}
.print-data{
    border: 1px solid #0ae4e4;
    background-color: black;
    width: 300px;
    height: 20px;
    border-radius: 20px;
    margin-left: 5px;
}
